/* Write your CSS here */
.course-card {
  width: 500px;
  height: 400px;
}

.head-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course-name {
  font-family: 'roboto';
  font-size: 20px;
  color: #171f46;
}

.duration-section {
  display: flex;
  align-items: center;
}

.clock-img {
  width: 12px;
  height: 12px;
  color: #171f46;
}
.clock-time {
  font-family: 'roboto';
  font-size: 12px;
  font-weight: 400;
  color: #171f46;
  margin-left: 5px;
}
.course-description {
  font-family: 'roboto';
  font-size: 18px;
  color: #171f46;
}

.technologies-section {
  display: flex;
  flex-wrap: wrap;
}

.tag-item {
  font-family: 'roboto';
  font-weight: 500;
  background-color: #bfbfbf;
  border: solid 0px;
  border-radius: 4px;
  padding: 5px;
  color: #1e293b;
  margin: 6px;
}
