/* Write your CSS here */

.app-container {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timeline-container {
  min-height: 100vh;
  min-width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 0px;
}
.my-journey-heading {
  font-family: 'roboto';
  font-size: 16px;
  color: #171f46;
}

.ccbp-heading {
  font-family: 'roboto';
  font-size: 22px;
  color: #2b237c;
  text-align: center;
}

.timeline-chrono-container {
  border: solid 0px;
  width: 100%;
}
